.fondito{
    background-color: #82a1b1;
}

.alCentro{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 4rem;
        padding: 4rem 4rem 4rem 4rem; 
}

.alCentroM{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1rem;
  padding: 1rem 1rem 1rem 1rem; 
}

.size15{
  font-size: 15px;
}

.btn1{
    background-color: #3b5998;
    text-emphasis-color: #ffffff;
}

.img1{
    width: 100%;
    height: 100%;
}

.fondoOblig{
    background-color: #3cefab;
}

.btn2 {
	display: inline-block;
	margin: 1em 0 0 0;
	background-color: #3cefaa7c;;
	color: #000000;
	text-transform: uppercase;
	border: none;
	text-decoration: none;
	font-weight: 800;
	padding: 10px 20px;
	border-radius: 30px;
    
    &:hover {
        background-color: #3cefab;
        color: #000000;
        text-decoration: none;
    }
}

.btn3 {
	display: inline-block;
	margin: 1em 0 0 0;
	background-color: #aabdb562;;
	color: #000000;
	text-transform: uppercase;
	border: none;
	text-decoration: none;
	font-weight: 800;
	padding: 10px 20px;
	border-radius: 30px;
    
    &:hover {
        background-color: #a4aca9;
        color: #000000;
        text-decoration: none;
    }
}

.fondo3{
    background-color: #ffffff;
}

/*  CLASES EN PLENO TESTING  */
.submission-line__input {
    padding-left: 10px;
    height: 44px;
    width: 66.6666%;
    border: none;
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.3rem;
  
  }
  
  .submission-line__input::placeholder {
    color: rgba(0, 0, 0, 0.38);
  }
  
  .submission-line__input:focus {
    outline: none;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
  }
  
  .submission-line__btn {
    float: right;
    height: 46px;
    width: 27.33333%;
    background: #FFC107;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
    border: none;
    font-size: 1.3rem;
    color: #fff;
  }
  
  .submission-line__input,
  .submission-line__btn {
    margin-bottom: 16px;
  }
  
  /* List, list items, and list item buttons */
  
  .list {
    padding: 0;
    list-style-type: none;
    clear: both;
  }
  
  .list__item {
    font-size: 1.3rem;
    width: 300px;
    height: 30px;
    padding: 10px;
    text-align: center;
  }
  
  .list__item:nth-child(odd) {
    background: #673AB7;
  }
  
  .list__item:nth-child(even) {
    background: #4527A0;
  }
  
  .list__delete-btn {
    cursor: pointer;
    float: left;
    margin: -5px;
    padding: 5px 9px;
  }
  
  .list__check-btn {
    cursor: pointer;
    float: right;
    margin: -5px;
    padding: 4px 8px;
  }
  
  /* Checked-off item list formatting */
  
  /* (Increased specificity to override the even/odd psuedoclasses) */
  .list .list__item--checked {
    background: #D1C4E9;
    color: rgba(0, 0, 0, 0.38);
    text-decoration: line-through;
  }
  
  .list__delete-btn--checked,
  .list__check-btn--checked {
    color: rgba(0, 0, 0, 0.38);
  }
  
// tabla de costos

  div.table-title {
    display: block;
   margin: auto;
   max-width: 600px;
   padding:5px;
   width: 100%;
 };
 
 .table-title h3 {
    color: #fafafa;
    font-size: 30px;
    font-weight: 400;
    font-style:normal;
    font-family: "Roboto", helvetica, arial, sans-serif;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    text-transform:uppercase;
 };
  
 .table-fill {
   background: white;
   border-radius:3px;
   border-collapse: collapse;
   height: 320px;
   margin: auto;
   max-width: 600px;
   padding:5px;
   width: 100%;
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
   animation: float 5s infinite;
 };
  
 th {
   color:#D5DDE5;;
   background:#1b1e24;
   border-bottom:4px solid #9ea7af;
   border-right: 1px solid #343a45;
   font-size:23px;
   font-weight: 100;
   padding:24px;
   text-align:left;
   text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
   vertical-align:middle;
 };
 
 th:first-child {
   border-top-left-radius:3px;
 };
  
 th:last-child {
   border-top-right-radius:3px;
   border-right:none;
 };
   
 tr {
   border-top: 1px solid #C1C3D1;
   border-bottom: 1px solid #C1C3D1;
   color:#666B85;
   font-size:16px;
   font-weight:normal;
   text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
 };
  
 tr:hover td {
   background:#4E5066;
   color:#FFFFFF;
   border-top: 1px solid #22262e;
 };
  
 tr:first-child {
   border-top:none;
 };
 
 tr:last-child {
   border-bottom:none;
 };
  
 tr:nth-child(odd) td {
   background:#EBEBEB;
 };
  
 tr:nth-child(odd):hover td {
   background:#4E5066;
 };
 
 tr:last-child td:first-child {
   border-bottom-left-radius:3px;
 };
  
 tr:last-child td:last-child {
   border-bottom-right-radius:3px;
 };
  
 td {
   background:#FFFFFF;
   padding:20px;
   text-align:left;
   vertical-align:middle;
   font-weight:300;
   font-size:18px;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   border-right: 1px solid #C1C3D1;
 };
 
 td:last-child {
   border-right: 0px;
 };
 
 th.text-left {
   text-align: left;
 };
 
 th.text-center {
   text-align: center;
 };
 
 th.text-right {
   text-align: right;
 };
 
 td.text-left {
   text-align: left;
 };
 
 td.text-center {
   text-align: center;
 };
 
 td.text-right {
   text-align: right;
 };
 
 .nilai {
     border: 0.5px solid #000000;
     width: 100%;
    /* Funcion que hice para apuntar a la clase */
 }

 .item-lista{
    position: relative;
    display: block;
    padding: 20px;
    color: #212529;
    text-decoration: none;
    background: #EBEBEB;
    border: 1px solid rgba(0,0,0,.125);
    font-size: 16px;
  

    &:hover{
    background: #4E5066;
    color: #FFFFFF;
    border-top: 1px solid #22262e;
    };
 };