.site-footer
{
    background-color: #1b1e24;
    padding:45px 45px 45px 45px;
    font-size:15px;
    line-height:24px;
    & p {
      color: #9db4e7;
    }
    & hr
    {
        border-top-color: #9db4e7;
        opacity:0.5;
    }
    & hr.small
    {
        margin:20px 0;
    }
    & h6
    {
        color: #b1bfdf;
        font-size:16px;
        text-transform:uppercase;
        margin-top:5px;
        letter-spacing:2px;
    }
    & a
    {
        color: #adb2bd;
    }
    & a:hover
    {
        color: #adb2bd;
        text-decoration:none;
    }

    & .social-icons
    {
        text-align:right;
    }
    
    & .social-icons a
    {
        width:40px;
        height:40px;
        line-height:40px;
        margin-left:6px;
        margin-right:0;
        border-radius:100%;
        background-color: #889fd3;
    }
    & img{
        width: 10.5rem;
    }
}

.footer-links
{
  padding-left:0;
  list-style:none;
  & li
  {
    display:block;
  }
  & a
  {
    color: #87a5e2;
  }
  & a:active,& a:focus,& a:hover
  {
    color: #adb2bd;
    text-decoration: none;
  }
  &.inline li
  {
    display:inline-block;
  }
}
