.nav__color {
    background-color: #1b1e24;}
  
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 2rem;
    padding-left: 2rem; }
  
  .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #adb2bd; }
  
  .header__logo {
    width: 30%;
    height: 30%;
    border-radius: 75%;
    border: solid #000000ad;

  }

  @media (max-width: 768px) {
    .padtop {
      padding-top: 1rem;
      padding-bottom: 1rem; } }
      
  /* NAVBAR */